<!-- <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite> -->
<!-- <bootstrap-panel>
    <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
        <p>Some Content Here...</p>
    </div>
</bootstrap-panel> -->
<!-- <div [hidden]="courses.length==0">
    List Of Courses
</div>
<div [hidden]="courses.length>0">
    No Courses Yet
</div> -->
<!-- <div *ngIf="courses.length>0;then showCourses else noCourses">

</div>
<ng-template #showCourses>
    List Of Courses
</ng-template>
<ng-template #noCourses>
    No Courses Yet
</ng-template> -->
<!-- <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" [class.active]="viewmode=='map'" (click)="viewmode='map'">Map View</a></li>
    <li class="nav-item"><a class="nav-link" [class.active]="viewmode=='list'" (click)="viewmode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewmode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>OtherWise</div>
</div> -->
<!-- <button class="btn btn-primary" (click)="onAdd()">Add Courses</button>
<ul>
    <li *ngFor="let course of courses;">
        {{course.name}}
        <button class="btn btn-danger" (click)="onRemove(course)">Remove</button>
    </li>
</ul> -->
<!-- <button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue' : 'gray',
        'color': canSave ? 'white' : 'black'
    }"
>
Save
</button> -->
<!-- <span>{{post.assigne?.name}}</span> -->

<!-- <input type="text" appInputFormat [format]="'uppercase'"> -->
<!-- 
<input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <app-contact-form></app-contact-form> -->
<!-- <app-posts></app-posts> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>